html {
    box-sizing: border-box;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


/* global */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1320px;
    padding: 0;
    margin: 0 auto;
}

:root {
    --gap: 30px;
}

.nav__item:not(:last-child) {
    margin-bottom: 12px
}

.nav__items {
    text-align: right;
}

.btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 45px 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 120px;
    margin-top: auto;
}

.btn-descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 20px;
}

/* header */

.header-head {
    width: 100%;
    justify-content: space-between;
    padding: 44px 0 44px;
}

/* navigation */

.navigation {
    margin-top: 35px;
}



/* navigation-left */

.navigation-left {
    width: 320px;
    
}

.navigation__items {
    padding-top: 12px;
    flex-wrap: wrap;
}

.navigation__item {
    margin-right: 12px;
    padding-bottom: 8px;
}

.navigation__item-link {
    padding-right: 12px;
}

/* navigation-center */

.navigation-center {
    margin-left: 50px;
    width: 60%;
}

.navigation-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 69px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;

}

/* product */

.product {
    margin-top: 100px;
}

.product-descr {
    justify-content: space-between;
}

.product-items {
    flex-wrap: wrap;
    margin-top: 44px;
}

.product-item {
    width: 320px;
    margin-bottom: 54px;
    padding-right: 20px;
}

.product-item-cross {
    margin-bottom: 32px;
    width: 24px;
    height: 24px;
}

.product-item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 16px;
}

.product-item-descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
}

.product-item a {
    margin-left: auto;
    align-content: flex-end;
}

/* portfolio */

.portfolio-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 69px;
    text-transform: uppercase;
    color: #000000;

}

.portfolio {
    margin-top: 100px;
}

.portfolio__items {
    flex-wrap: wrap;
}

.portfolio__item {
    width: 320px;
    margin-bottom: 54px;
}

.portfolio__item:not(:nth-child(4n)) {
    margin-right: 12px;
    
}

.portfolio__item-num {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.portfolio__item-descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-top: 10px;
}

/* news */

.news {
    margin-top: 50px;
}

.news-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 69px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 50px;
}

.news-left, .news-right {
    width: 50%;
}

.news-left {
    margin-right: 20px;
}

.news-text-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-top: 10px;
    width: 50%;
}

.news-text-descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-top: 10px;
    width: 50%;
}

/* footer */ 

.footer {
    margin-top: 180px;
    background: #1F1E1A;
    border-radius: 24px 24px 0px 0px;
}

.footer-left {
    margin-right: auto;
}

.footer-logo {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.footer-adress {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
}

.footer-contents {
    align-items: center;
    justify-content: center;
    padding: 32px 0 29px;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.footer-center {
    width: 320px;
}

.footer-right {
    margin-left: auto;
}

.footer__nav a {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}